<div id="<%= dom_id signupform %>">
  <p>
    <strong>Lead magnet:</strong>
    <%= signupform.lead_magnet_id %>
  </p>

  <p>
    <strong>Headline:</strong>
    <%= signupform.headline %>
  </p>

  <p>
    <strong>Submit button text:</strong>
    <%= signupform.submit_button_text %>
  </p>

</div>
