<h1>Editing signupform</h1>

<%= render "form", signupform: @signupform %>

<br>

<div>
  <%= link_to "Show this signupform", @signupform %> |
  <%= link_to "Back to signupforms", signupforms_path %>
</div>
