<div id="<%= dom_id content %>">
  <%= form_with(model: content, data: { controller: "editor" }) do |form| %>
    <div id="content_content" data-editor-target="magnet_content">
    </div>
  <% end %>
</div>