<h1>Editing lead magnet</h1>

<%= render "form", lead_magnet: @lead_magnet %>

<br>

<div>
  <%= link_to "Show this lead magnet", @lead_magnet %> |
  <%= link_to "Back to lead magnets", lead_magnets_path %>
</div>
